Repository cleverman48/AspNetCore.Diagnostics.HealthChecks, changes with the labels that .github/labeler.yml gives for each.
All labels: test, github_actions, code style, docs, arrango-db, aws, azure, consul, UI

Try labeler (#1576)
  doc/styles-branding.md
  src/HealthChecks.ArangoDb/ArangoDbOptions.cs
  src/HealthChecks.UI/Configuration/Settings.cs
Labels: docs, arrango-db, UI

Add Elasticsearch Cluster Health Check (#1577)
  src/HealthChecks.Elasticsearch/ElasticsearchHealthCheck.cs
  src/HealthChecks.Elasticsearch/ElasticsearchOptions.cs
  test/HealthChecks.Elasticsearch.Tests/HealthChecks.Elasticsearch.approved.txt
Labels: test

Added ExpectedContent to URI Groups (#1199)
  src/HealthChecks.Uris/UriHealthCheck.cs
  src/HealthChecks.Uris/UriHealthCheckOptions.cs
  test/HealthChecks.Uris.Tests/Functional/UrisHealthCheckTests.cs
  test/HealthChecks.Uris.Tests/HealthChecks.Uris.approved.txt
Labels: test

Add Roslynator (#1584)
  .editorconfig
  Directory.Build.props
  src/HealthChecks.Gcp.CloudFirestore/CloudFirestoreHealthCheck.cs
  src/HealthChecks.Network/DependencyInjection/NetworkHealthCheckBuilderExtensions.cs
  src/HealthChecks.Network/SftpConfiguration.cs
  src/HealthChecks.UI/Core/Discovery/K8S/Extensions/IKubernetesExtensions.cs
  src/HealthChecks.UI/Core/Extensions/UIResourceExtensions.cs
  src/HealthChecks.UI/Core/Notifications/WebHookFailureNotifier.cs
  test/ApiApprovalTests.cs
  test/HealthChecks.System.Tests/DependencyInjection/RegistrationTests.cs
Labels: test, code style, UI

Bump MySqlConnector from 2.2.2 to 2.2.3 (#1588)
  src/HealthChecks.MySql/HealthChecks.MySql.csproj
Labels: none

.github/labeler.yml:

test:
  - test/**/*

github_actions:
  - .github/**/*

code style:
  - .editorconfig

docs:
  - README.md
  - doc/**/*

arrango-db:
  - src/HealthChecks.ArangoDb/**/*

aws:
  - src/HealthChecks.Aws.*/**/*

azure:
  - src/HealthChecks.Azure*/**/*

consul:
  - src/HealthChecks.Consul/**/*

UI:
  - src/HealthChecks.UI/**/*
  - src/HealthChecks.UI.*/**/*
